<%= form_with(model: calender, class: "contents") do |form| %>
  <% if calender.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(calender.errors.count, "error") %> prohibited this calender from being saved:</h2>

      <ul>
        <% calender.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= form.hidden_field :day %>

  <div class="my-5">
    <%= form.label :day %>
    <%  wd = ["日", "月", "火", "水", "木", "金", "土"] %>
    <%= content_tag(:div, calender.day.strftime("%Y年%m月%d日 (#{wd[calender.day.wday]})"), class: "frm_ln") %>
  </div>

  <div class="my-5">
    <%= form.label :begin_time %><br>
    <%= form.datetime_select :begin_time,
        {discard_year: true, discard_month: true, discard_day: true, minute_step: calender.unit_minute},
        class: "frm_ln_noblock" %>
  </div>

  <div class="my-5">
    <%= form.label :close_time %><br>
    <%= form.datetime_select :close_time,
        {discard_year: true, discard_month: true, discard_day: true, minute_step: calender.unit_minute},
        class: "frm_ln_noblock" %>
  </div>

  <div class="my-5">
    <%= form.label :interval_s %><br>
    <%= form.datetime_select :interval_s,
        {discard_year: true, discard_month: true, discard_day: true, minute_step: calender.unit_minute},
        class: "frm_ln_noblock" %>
  </div>

  <div class="my-5">
    <%= form.label :interval_e %><br>
    <%= form.datetime_select :interval_e,
        {discard_year: true, discard_month: true, discard_day: true, minute_step: calender.unit_minute},
        class: "frm_ln_noblock" %>
  </div>

  <div class="my-5">
    <%= form.label :unit_minute %>
    <%= form.number_field :unit_minute,step: 15, min: 15, max: 30, class: "frm_ln" %>
  </div>

  <div class="my-5">
    <%= form.label :no_use %>
    <%= form.check_box :no_use, class: "block mt-2 h-5 w-5" %>
  </div>

  <div class="inline">
    <%= form.submit class: "frm_btn bg-blue-600" %>
  </div>
<% end %>
