<div class="w-full">

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Calender日付管理</h1>
  </div>

  <div class="wrapper bg-white rounded shadow w-full my-10">
    <div class="header flex justify-between border-b p-2">
      <span class="text-lg font-bold">
        <%= @today.strftime("%Y年 %m月") %>
      </span>
      <% nextmonth = (@today == Date.today) ? false : true %>
      <div class="buttons">
        <% if nextmonth %>
          <%= link_to(calenders_path(month: "prev"), class: "p-1") do %>
            <i class="text-green-300">←</i>
          <% end %>
          <i class="text-gray-300">→</i>
        <% else %>
          <i class="text-gray-300">←</i>
          <%= link_to(calenders_path(month: "next"), class: "p-1") do %>
            <i class="text-green-300">→</i>
          <% end %>
        <% end %>
      </div>
    </div>

    <table class="w-full">
      <thead>
        <tr>
          <th class="p-2 border-r h-10 xl:w-40 lg:w-30 md:w-30 sm:w-20 w-10 xl:text-sm text-xs">
            <span class="block">日</span>
          </th>
          <th class="p-2 border-r h-10 xl:w-40 lg:w-30 md:w-30 sm:w-20 w-10 xl:text-sm text-xs">
            <span class="block">月</span>
          </th>
          <th class="p-2 border-r h-10 xl:w-40 lg:w-30 md:w-30 sm:w-20 w-10 xl:text-sm text-xs">
            <span class="block">火</span>
          </th>
          <th class="p-2 border-r h-10 xl:w-40 lg:w-30 md:w-30 sm:w-20 w-10 xl:text-sm text-xs">
            <span class="block">水</span>
          </th>
          <th class="p-2 border-r h-10 xl:w-40 lg:w-30 md:w-30 sm:w-20 w-10 xl:text-sm text-xs">
            <span class="block">木</span>
          </th>
          <th class="p-2 border-r h-10 xl:w-40 lg:w-30 md:w-30 sm:w-20 w-10 xl:text-sm text-xs">
            <span class="block">金</span>
          </th>
          <th class="p-2 border-r h-10 xl:w-40 lg:w-30 md:w-30 sm:w-20 w-10 xl:text-sm text-xs">
            <span class="block">土</span>
          </th>
        </tr>
      </thead>
      <tbody>
      <% @weeks.each do |week| %>
        <tr class="text-center h-20">
        <% week.each do |day| %>
          <% this_month = (day.strftime("%m") == @this_month) ? true : false %>
          <% is_close    = (@day_enable[day] == :closed) ? true : false %>

          <td class="border <%= this_month ? '' : 'bg-gray-100' %> p-1 h-40 xl:w-40 lg:w-30 md:w-30 sm:w-20 w-10 overflow-auto transition  duration-500 ease hover:bg-gray-300">
            <div class="flex flex-col h-40 mx-auto xl:w-40 lg:w-30 md:w-30 sm:w-full w-10 overflow-hidden">
              <div class="top h-5 w-full">
                <span class="text-gray-500"><%= day.strftime("%e") %></span>
              </div>
              <div class="bottom flex-grow h-30 py-1 w-full">
                <div class="<%= is_close ? 'bg-purple-200' : 'bg-blue-400' %> text-white rounded p-1 text-sm mb-1">
                  <span class="event-name">
                    <%= @day_enable[day] %>
                  </span>
                </div>
                <% params = {day: day, begin_time: @begin_time, close_time: @close_time, interval_s: @interval_s, interval_e: @interval_e, unit_minute: @unit_minute} %>
                <%= link_to '稼働日作成', new_calender_path(params), 
                    class: "rounded-lg py-3 px-5 bg-blue-300 text-white block font-medium" \
                    if day >= Date.today && is_close %>
              </div>
            </div>
          </td>
        <% end %>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>

</div>
