<div id="<%= dom_id occupation %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">User:</strong>
    <%= occupation.user_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Room:</strong>
    <%= occupation.room_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Day:</strong>
    <%= occupation.day %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Time s:</strong>
    <%= occupation.time_s %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Time e:</strong>
    <%= occupation.time_e %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Reservation:</strong>
    <%= occupation.reservation %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Confirmed:</strong>
    <%= occupation.confirmed %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this occupation", occupation, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this occupation', edit_occupation_path(occupation), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
