<div class="mx-auto md:w-2/3 w-full">
  <div class="flex justify-between items-center mb-20">
    <h1 class="font-bold text-4xl">新規予約</h1>
    <%= link_to '予約トップへ戻る', occupations_path, class: "ml-2 lnk_btn" %>
  </div>

  <div id="new-occupation" class="mt-5 my-10">
    <new-occupation tday="<%= @tday %>" 
                    :mns="<%= @mns %>" 
                    :mnscale="<%= @mnscale.to_json %>" 
                    :current="<%= current_user.id %>">
    </new-occupation>
  </div>

  <%#= render "form", occupation: @occupation %>
  <%#= link_to 'Back to occupations', occupations_path, 
  class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>


<% content_for :meta_t do %>
<meta name="turbo-visit-control" content="reload">
<% end %>
