<div class="mx-auto md:w-2/3 w-full">
  <h2 class="font-bold text-4xl">新規ユーザー登録</h2>
  <div style="margin: 2em;">
    <p>登録者は、<a href="/agreement">利用規約</a>に合意したものと致します。  </p>
  </div>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html:{class: "contents"}) do |f| %>
    <%= render "users/shared/error_messages", resource: resource %>

    <div class="my-5">
      <%= f.label :name %>
      <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "frm_ln" %>
    </div>

    <div class="my-5">
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "frm_ln" %>
    </div>

    <div class="my-5">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> 文字以上が必要です。)</em>
      <% end %>
      <%= f.password_field :password, autocomplete: "new-password", class: "frm_ln" %>
    </div>

    <div class="my-5">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "frm_ln" %>
    </div>

    <div class="inline">
      <%= f.submit "登録", class: "frm_btn bg-blue-600" %>
    </div>
  <% end %>

  <%= render "users/shared/links" %>
</div>
